<div class="row mt-4">
  <div class="col-md-5 mx-auto">

    <div class="block shadow bg-light text-dark">
      <h4>Documentos Institucionales</h4>
      <h5 class="mb-3">Accede a los documentos base del Claustro</h5>

      <ul class="list-unstyled">
        <li class="mb-2">
          <%= link_to "📄 PED 2023–2028", "/PED2023-2028.pdf", target: "_blank", class: "text-decoration-none fw-bold" %>
        </li>
        <li class="mb-2">
          <%= link_to "📘 Orientación actualización PED", "/orientaciones.pdf", target: "_blank", class: "text-decoration-none fw-bold" %>
        </li>
        <li>
          <%= link_to "📊 Análisis institucional 2024", "/INFORME2024.pdf", target: "_blank", class: "text-decoration-none fw-bold" %>
        </li>
      </ul>
    </div>

  </div>
</div>
