<div class="row">
  <div class="col-md-8 mx-auto">

    <div class="block">
      <h4>7. Gestión y análisis de datos</h4>
    </div>

    <div class="mb-4">
      <p><strong>Gestión de big data</strong></p>
      <p>
        La gestión de datos en el contexto universitario se refiere al uso estratégico, ético y seguro de grandes volúmenes de información relacionados con estudiantes, docentes y procesos institucionales.
        Este proceso abarca la recolección, organización, almacenamiento, procesamiento y análisis de datos con el objetivo de mejorar la toma de decisiones, optimizar la eficiencia operativa y enriquecer la experiencia educativa.
        Involucra tareas fundamentales como la validación y calidad de los datos, la protección de la privacidad y la seguridad de la información, así como la adecuada gestión del ciclo de vida de los datos, desde su generación hasta su eliminación responsable.
      </p>
    </div>

  </div>
</div>
