<div class="row">
  <div class="col-md-8 mx-auto">

    <div class="block">
      <h4>5. Gobernanza adaptativa</h4>
    </div>

    <div class="mb-4">
      <p><strong>Modelos de gobernanza más ágiles y participativos</strong></p>
      <p>
        La gobernanza adaptativa es un enfoque orientado a la gestión de sistemas complejos y dinámicos, que se caracteriza por su flexibilidad, la colaboración entre múltiples actores, el aprendizaje continuo y la toma de decisiones participativa.
        Este modelo pone énfasis en la capacidad de adaptación frente a contextos de alta incertidumbre, reconoce la interdependencia entre los distintos actores involucrados y promueve mecanismos que permiten responder de manera eficaz a la evolución constante de los sistemas.
      </p>
    </div>

  </div>
</div>
