<div class="container mt-5">
  <h1 class="display-4">Bienvenido a Udalba</h1>
  <p class="lead">Tu aplicación Rails 8 con PostgreSQL y Bootstrap está lista para comenzar.</p>
  <hr>
  <p>Puedes comenzar creando tus modelos, controladores o componentes.</p>
  <a href="#" class="btn btn-primary">Explorar</a>
</div>
