<div class="row">
  <div class="col-md-8 mx-auto">

    <div class="block">
      <h4>6. Infraestructura Sostenible</h4>
    </div>

    <div class="mb-4">
      <p><strong>Infraestructura universitaria sostenible</strong></p>
      <p>
        En el ámbito universitario, la infraestructura sostenible comprende el conjunto de prácticas asociadas a la planificación, diseño, construcción, operación y eventual desmantelamiento de los campus, orientadas a garantizar la sostenibilidad económica, social, ambiental y climática a lo largo de todo su ciclo de vida.
        Este enfoque promueve la adopción de soluciones que minimicen el impacto ambiental, optimicen el uso de recursos naturales, incorporen energías renovables, mejoren la eficiencia energética y fomenten una gestión responsable de los residuos.
        Además, refuerza la resiliencia institucional frente al cambio climático y otros desafíos emergentes.
      </p>
    </div>

  </div>
</div>
