<div class="row">
  <div class="col-md-8 mx-auto">

    <div class="block">
      <h4>1. Misión</h4>
    </div>

    <div class="mb-4">
      <p><strong>¿Qué es la Misión de una organización?</strong></p>
      <p>Etimológicamente, <em>misión</em> viene del latín <strong>missio</strong>: la acción de ser enviado, encargo.</p>

      <p><strong>O.C. Ferrell:</strong><br>
      “La misión es el propósito general de la empresa.”</p>

      <p><strong>F. Drucker:</strong><br>
      “La misión es una base para las estrategias, prioridades, tareas de trabajo y planes, diferenciando una empresa de otra.”</p>

      <p><strong>Resumen:</strong><br>
      La razón de ser de la organización, su propósito fundamental.</p>
    </div>

    <div class="mb-4">
      <p><strong>La Misión de la Universidad del Alba</strong></p>
      <blockquote class="blockquote">
        Universidad del Alba tiene como misión contribuir al desarrollo de la sociedad en las regiones en las que está inserta y a la inclusividad social. Formar profesionales y graduados idóneos que respondan a los requerimientos del medio, mediante la transmisión y el desarrollo del conocimiento orientado a mejorar la formación, con un modelo educativo centrado en el estudiante, fortaleciendo el pensamiento crítico aplicado al quehacer profesional.
      </blockquote>
    </div>

    <div class="mb-4">
      <p><strong>Ejemplos de Misión de Universidades</strong></p>

      <p>“Inspiramos a personas a nivel local, nacional e internacional, ampliando el acceso a la enseñanza y los recursos de excelencia de xxxxxx mediante oportunidades de estudio e investigación que sean flexibles e inclusivas.”</p>

      <p>“Transformar la vida de las personas y las comunidades a través de la educación.”</p>

      <p>“Queremos que la Universidad xxxx sea el lugar de encuentro entre docentes y estudiantes, acelerando y acercando el aprendizaje a través de la tecnología. Trabajamos para crear un entorno de acompañamiento e intercambio de conocimiento en el que tú, como estudiante, te sientas capaz de construir tu camino, manteniendo la ilusión por progresar y favorecer el desarrollo de tu entorno.”</p>

      <p>“La misión de la XXXXX se centra en facilitar el acceso a la educación superior a personas que no pueden asistir a clases presenciales, a través de la utilización de tecnología y métodos de enseñanza innovadores. Esto implica promover el aprendizaje autónomo, significativo y colaborativo, con el objetivo de formar profesionales competentes y comprometidos con el desarrollo social y económico.”</p>
    </div>

  </div>
</div>
