<div class="row">
  <div class="col-md-8 mx-auto">

    <div class="block">
      <h4>2. Visión</h4>
    </div>

    <div class="mb-4">
      <p><strong>¿Qué es la Visión de una organización?</strong></p>
      <p>Etimológicamente, <em>visión</em> viene del latín <strong>visio</strong>: la acción o efecto de ver.</p>

      <p><strong>B. Karlof:</strong><br>
      "El nacimiento del futuro distante, con el cual la empresa logra desarrollarse de la mejor manera posible, siguiendo las aspiraciones de sus líderes."</p>

      <p><strong>Quingley:</strong><br>
      “Es comprender el pasado y el presente para poder proyectar el futuro con acierto.”</p>

      <p><strong>Resumen:</strong><br>
      A dónde se dirige la organización. Debe definir el camino que se debe seguir para alcanzar las metas propuestas a mediano y largo plazo.</p>
    </div>

    <div class="mb-4">
      <p><strong>La Visión de la Universidad del Alba</strong></p>
      <blockquote class="blockquote">
        “Pretendemos ser una universidad que, por medio de una formación académica de calidad, aporta a la cultura, la ciencia y la tecnología. Aspiramos a constituirnos en líderes en el aporte de profesionales relevantes para el desarrollo de las regiones en las que estaremos insertos. Deseamos ser una institución que ofrece a sus estudiantes una experiencia educativa significativa, sostenida en el conocimiento de las distintas disciplinas, potenciando sus habilidades y capacidades de innovación, con un alto sentido de responsabilidad social.”
      </blockquote>
    </div>

  </div>
</div>
